<html lang="en" id="htmlPage">
<head>
    <title>Edit</title>
</head>
<body>
    <div id="container">
        <div class="header">
            <h1>Update challanlist</h1>
        </div>
        <div>
            <input type="text" name="id" class="input" id="id" placeholder="id" value="<%= tbody[0].id %>" disabled required><br><br>
            <input type="text" name="name" class="input" id="name" placeholder="First name" value="<%= tbody[0].name %>" required><br><br>
            <input type="text" name="email" class="input" id="email" placeholder="Last name" value="<%= tbody[0].email %>" required><br><br>
            <button id="updateSubmit">Submit</button>
            <!-- <input type="submit" name="submit" value="Update" id="updateSubmit"> -->
        </div>
        <div id="response"></div>
    </div>
</body>
</html>
