
<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/logout">Logout</a>
        </li>
        <!-- <li class="nav-item">
          <a class="nav-link" href="#">Pricing</a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" aria-disabled="true">Disabled</a>
        </li> -->
      </ul>
    </div>
  </div>
</nav>


<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
     <link rel="stylesheet" href="/static/police.css">
     <div class="demo-page">
        <div class="demo-page-navigation">
          <nav>
            <ul>
              <li>
                <a href="/index">
                  Home</a>
              </li>
              <li>
                <a href="#structure">
                  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-layers">
                    <polygon points="12 2 2 7 12 12 22 7 12 2" />
                    <polyline points="2 17 12 22 22 17" />
                    <polyline points="2 12 12 17 22 12" />
                  </svg>
                  Add Police</a>
              </li>
              <li>
                <a href="#input-types">
                  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-align-justify">
                    <line x1="21" y1="10" x2="3" y2="10" />
                    <line x1="21" y1="6" x2="3" y2="6" />
                    <line x1="21" y1="14" x2="3" y2="14" />
                    <line x1="21" y1="18" x2="3" y2="18" />
                  </svg>
                  Add user</a>
              </li>
              <li>
                <a href="/police_list">
                  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-align-justify">
                    <line x1="21" y1="10" x2="3" y2="10" />
                    <line x1="21" y1="6" x2="3" y2="6" />
                    <line x1="21" y1="14" x2="3" y2="14" />
                    <line x1="21" y1="18" x2="3" y2="18" />
                  </svg>
                  View Police List</a>
              </li>
              <li>
                <a href="/user_list">
                  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-align-justify">
                    <line x1="21" y1="10" x2="3" y2="10" />
                    <line x1="21" y1="6" x2="3" y2="6" />
                    <line x1="21" y1="14" x2="3" y2="14" />
                    <line x1="21" y1="18" x2="3" y2="18" />
                  </svg>
                  View user List</a>
              </li>
              
            </ul>
          </nav>
        </div>
        <main class="demo-page-content">
          
            
          <section>
            <div class="href-target" id="structure"></div>
          <form action="/createpolice" method="POST">
            {% csrf_token %}
            <h1>
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-layers">
                <polygon points="12 2 2 7 12 12 22 7 12 2" />
                <polyline points="2 17 12 22 22 17" />
                <polyline points="2 12 12 17 22 12" />
              </svg>
              Add Police Officer
            </h1>
            <div class="nice-form-group">
              <label>Name</label>
              <input type="text" placeholder="Police Name" value="" name="Police_Name" required/>
            </div>
            <div class="nice-form-group">
              <label>ID</label>
              <input type="text" placeholder="Police Id" value="" name="Police_Id" required/>
            </div>
            <div class="nice-form-group">
                <label>Phone Number</label>
                <input type="text" placeholder="Phone Number" value="" name="Phone_Number" required/>
              </div>
            <div class="nice-form-group">
                <label>Rank</label>
                <input type="text" placeholder="Rank" value="" name="Rank" required/>
              </div>
              <div class="nice-form-group">
                <label>Username</label>
                <input type="text" placeholder="Username" value="" name="Username" required/>
              </div>
              <div class="nice-form-group">
                <label>Password</label>
                <input type="text" placeholder="Password" value="" name="Password" required/>
              </div>
            
            
                    <button type="submit" class="btn btn-info b">Create</button>
          </form>
          </section>
      
          <section>
            <div class="href-target" id="input-types"></div>
            <form action="/createuser" method="POST">
            {% csrf_token %}
            <h1>
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-align-justify">
                <line x1="21" y1="10" x2="3" y2="10" />
                <line x1="21" y1="6" x2="3" y2="6" />
                <line x1="21" y1="14" x2="3" y2="14" />
                <line x1="21" y1="18" x2="3" y2="18" />
              </svg>
              Add User
            </h1>
            
      
            <div class="nice-form-group">
                <label>Name</label>
                <input type="text" placeholder="Name" value="" name="Name" required/>
              </div>
              <div class="nice-form-group">
                <label>License Number</label>
                <input type="text" placeholder="Lisence Number" value="" name="License_no" required/>
              </div>
              <div class="nice-form-group">
                  <label>Vehicle Number</label>
                  <input type="text" placeholder="Vehicle number" value="" name="Vehicle_no" required/>
                </div>
              <div class="nice-form-group">
                  <label>Phone Number</label>
                  <input type="text" placeholder="+91##########" value="" name="Phone_no" required/>
                </div>
                <div class="nice-form-group">
                  <label>Mail</label>
                  <input type="text" placeholder="..@gamil.com" value="" name="Mail" required/>
                </div>
                <div class="nice-form-group">
                  <label>Insurance Number</label>
                  <input type="text" placeholder="Insurance Number" value="" name="Insurance_no" required/>
                </div>
                <div class="nice-form-group">
                  <label>Registration Number</label>
                  <input type="text" placeholder="registration number" value="" name="Registration_no" required/>
                </div>
                <div class="nice-form-group">
                  <label>Address</label>
                  <input type="text" placeholder="address" value="" name="Address" required/>
                </div>
                <button type="submit" class="btn btn-info b">Create</button>
              
              </form>
          </section>
        <footer>Traffic_Police_Indore</footer>
        </main>
      </div>
